{% extends 'base.html.twig' %}
{% block body %}
    <h2>Внести информацию об абоненте</h2>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
    <script>
        $(function() {
            $('#persons_menu').addClass("active");
            $("#person_positions").select2({ width: '100%' });
        });
    </script>
{% endblock %}
