{% extends 'base.html.twig' %}
{% block body %}
<h2>Внести информацию о должности</h2>
<div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
</div>
<script>
    $(function() {
        $('#positions_menu').addClass("active");
    });
</script>
{% endblock %}
