{% extends 'base.html.twig' %}
{% block body %}



    <a class="btn btn-info"     href="{{ app.url_generator.generate('add_author') }}"> <span class="glyphicon glyphicon-plus"></span> Добавить автора</a>

    <a class="btn btn-warning"  href="{{ app.url_generator.generate('choose_author_for_edit') }}"><span class="glyphicon glyphicon-pencil"></span>  Редактировать автора</a>

    <a class="btn btn-danger"   href="{{ app.url_generator.generate('choose_author_for_delete') }}"> <span class="glyphicon glyphicon-trash"></span> Удалить автора</a>

    <h1>Авторы</h1>

    {% for author in authors %}
        <div>
            <a href="{{ app.url_generator.generate('person', { person_id: author.id }) }}">{{ author.name }} {{ author.surname }} </a>
        </div>
    {% endfor %}

    </div>
    <script>
        $(function() {
            $('#authors_menu').addClass("active");
        });
    </script>
{% endblock %}
