<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Библиотека{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!--javascripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

        <![endif]-->
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>


        <style>
            body {
                min-height: 2000px;
                padding-top: 70px;
            }
            .white-popup-block{
                 background:#FFF;
                 padding:20px 30px;
                 text-align:left;
                 max-width:650px;
                 margin:40px auto;
                 position:relative
            }

        </style>
    </head>

    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/persons_with_books"><span class="glyphicon glyphicon-book"></span> Библиотека</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li id="persons_with_books_menu"><a href="/persons_with_books">Книги на руках</a></li>
                        <li id="books_menu"><a href="/books">Список книг</a></li>
                        <li id="persons_menu"><a href="/persons">Список абонентов</a></li>
                        <li id="authors_menu"><a href="/authors">Список авторов</a></li>
                        <li id="positions_menu"><a href="/positions">Список должностей</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="order_menu"><a href="/order"><span  class="glyphicon glyphicon-arrow-up"></span> Выдать книгу</a></li>
                        <li id="finish_order_menu"><a href="/finish_order"><span  class="glyphicon glyphicon-arrow-down"></span> Принять книгу</a></li>

                    </ul>
                </div>
            </div>
        </nav>


        <div class="container">
            <div class="jumbotron">
               {% block body %}
               {% endblock body %}
            </div>
        </div> <!-- /container -->
    </body>
</html>

