{% extends 'base.html.twig' %}
{% block body %}

    <button id="add_button" type="button" class="btn btn-success"  data-toggle="modal" data-target="#add_book_popup" aria-label="Left Align">
        <span class="glyphicon glyphicon-plus"></span>
        Добавить книгу в систему
    </button>

    <h1>Книги</h1>
    <p>Это список книг и копий зарегистрированные в библиотеке</p>

    <p>
    <div id="books_list">
        {% for book in books %}
            <div name="{{ book.id }}" class="div_book" >
                <a   id="title_{{ book.id }}" style="font-size:18px;" href="{{ app.url_generator.generate('book', { book_id: book.id }) }}">{{ book.title }}</a>
                <div class="author_container" name="{{ book.id }}">
                    Авторы:
                    {% for author in book.authors %}
                        {{ author.name }}
                        {{ author.surname }}
                    {% endfor %}
                </div>
                <div id="volume_{{ book.id }}">Объем: {{ book.volume }}</div>

                <div id="edition_{{ book.id }}">Редакция: {{ book.edition }}</div>

                <button type="button" class="btn btn-success btn-xs add_copy_btn" data-toggle="modal" data-target="#add_copy_popup">
                    <span class="glyphicon glyphicon-plus"></span>
                    Добавить копию
                </button>

                <button type="button" class="btn btn-primary btn-xs edit_book_btn" data-toggle="modal" data-target="#edit_book_popup">
                   <span class="glyphicon glyphicon-pencil"></span>
                    Изменить книгу
                </button>

                <button type="button" class="btn btn-danger btn-xs delete_book_btn" data-toggle="modal" data-target="#delete_book_popup">
                    <span class="glyphicon glyphicon-trash"></span>
                    Удалить книгу
                </button>

                <div style="padding-left:5em; " class="copy_container">
                    <div style="font-size:18px;">Копии:</div>
                    {% for copy in book.copies %}
                        <div class="copy_href div_copy"  name="{{ copy.id }}" >
                            <a id="innerNumber_{{ copy.id }}" href="{{ app.url_generator.generate('copy', { book_id: book.id, copy_id: copy.id }) }}">{{ copy.innerNumber }}</a>
                            <button type="button" class="btn btn-info btn-xs edit_copy_btn" data-toggle="modal" data-target="#edit_copy_popup">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Рекдактировать копию
                            </button>

                            <button type="button"  class="btn btn-warning btn-xs delete_copy_btn" data-toggle="modal" data-target="#delete_copy_popup">
                                <span class="glyphicon glyphicon-trash"></span>
                                Удалить копию
                            </button>

                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- ADD BOOK FORM POPUP -->
    <div class="modal fade" id="add_book_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Внесите информацию о книге</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(hidden_form_add_book, { 'attr': { 'id': 'hidden_form_add_book_popup'} }) }}
                        <fieldset style="border:0;">
                            {{ form_widget(hidden_form_add_book) }}
                        </fieldset>
                    {{ form_end(hidden_form_add_book) }}
                </div>
            </div>
        </div>
    </div>

    <!-- EDIT FORM POPUP BOOK -->
    <div class="modal fade" id="edit_book_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Изменить информацию о книге</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(hidden_form_edit_book, { 'attr': { 'id': 'hidden_form_edit_book_popup'} }) }}
                        <fieldset style="border:0;">
                            {{ form_widget(  hidden_form_edit_book) }}
                        </fieldset>
                    {{ form_end(  hidden_form_edit_book) }}
                </div>
            </div>
        </div>
    </div>

    <!-- DELETE BOOK FORM POPUP  -->
    <div class="modal fade" id="delete_book_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Удалить информацию о книге?</h4>
                    Вместе с информацией о книге будет удалена вся информация о ее копиях
                </div>
                <div class="modal-body">
                    {{ form_start(hidden_form_delete_book, { 'attr': { 'id': 'hidden_form_delete_book_popup'} }) }}
                    <fieldset style="border:0;">
                        {{ form_widget(  hidden_form_delete_book) }}
                    </fieldset>
                    {{ form_end(  hidden_form_delete_book) }}
                </div>
            </div>
        </div>
    </div>

    <!-- ADD COPY FORM POPUP BOOK -->
    <div class="modal fade" id="add_copy_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Добавить копию книги</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(hidden_form_add_copy_popup, { 'attr': { 'id': 'hidden_form_add_copy_popup'} }) }}
                    <fieldset style="border:0;">
                        {{ form_widget(  hidden_form_add_copy_popup) }}
                    </fieldset>
                    {{ form_end(  hidden_form_add_copy_popup) }}
                </div>
            </div>
        </div>
    </div>

    <!-- EDIT COPY FORM POPUP  -->
    <div class="modal fade" id="edit_copy_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Изменить информацию о копии</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(hidden_form_edit_copy_popup, { 'attr': { 'id': 'hidden_form_edit_copy_popup'} }) }}
                    <fieldset style="border:0;">
                        {{ form_widget(  hidden_form_edit_copy_popup) }}
                    </fieldset>
                    {{ form_end(  hidden_form_edit_copy_popup) }}
                </div>
            </div>
        </div>
    </div>

    <!-- DELETE COPY FORM POPUP  -->
    <div class="modal fade" id="delete_copy_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Удалить копию</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(hidden_form_delete_copy_popup, { 'attr': { 'id': 'hidden_form_delete_copy_popup'} }) }}
                    <fieldset style="border:0;">
                        {{ form_widget(  hidden_form_delete_copy_popup) }}
                    </fieldset>
                    {{ form_end(  hidden_form_delete_copy_popup) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            $('#books_menu').addClass("active");
            $(".author_select").select2({ width: '100%' });
            $( ".copy_href").find( "button" ).hide();
            $( ".copy_href" )
                    .mouseenter(function() {
                        $( this ).find( "button" ).show();
                    })
                    .mouseleave(function() {
                        $( this ).find( "button" ).hide();
                    });

            function resetForm(form) {
                // clearing inputs
                var inputs = form.getElementsByTagName('input');
                for (var i = 0; i<inputs.length; i++) {
                    switch (inputs[i].type) {
                        // case 'hidden':
                        case 'text':
                            inputs[i].value = '';
                            break;
                        case 'radio':
                        case 'checkbox':
                            inputs[i].checked = false;
                        case 'number':
                            inputs[i].value = '';

                    }
                }

                // clearing selects
                var selects = form.getElementsByTagName('select');
                for (var i = 0; i<selects.length; i++) {
                    $("#" + selects[i].id).select2("val", "");
                }

                // clearing textarea
                var text= form.getElementsByTagName('textarea');
                for (var i = 0; i<text.length; i++)
                    text[i].innerHTML= '';

                return false;
            }

            function delete_error_messages(){
                $('.error_message').remove();
            }

            $('#add_book_popup').on('show.bs.modal', function (e) {
                delete_error_messages();
                resetForm($('#hidden_form_add_book_popup')[0]);
            });

            function edit_book_popup_callback_set_on_show() {
                $('#edit_book_popup').on('show.bs.modal', function (e) {
                    delete_error_messages();

                    var book_id = $(e.relatedTarget).parents('.div_book').attr('name');
                    var form = $("#hidden_form_edit_book_popup");
                    form[0].action = document.URL + "/" + book_id ;

                    resetForm(form[0]);
                });
            }
            edit_book_popup_callback_set_on_show();

            function delete_book_popup_callback_set_on_show() {

                $('#delete_book_popup').on('show.bs.modal', function (e) {
                    delete_error_messages();
                    var book_id = $(e.relatedTarget).parents('.div_book').attr('name');
                    var form = $("#hidden_form_delete_book_popup");
                    form[0].action = document.URL + "/" + book_id ;

                    resetForm(form[0]);
                });

            }
            delete_book_popup_callback_set_on_show();


            function add_copy_popup_callback_set_on_show(){

                $('#add_copy_popup').on('show.bs.modal', function (e) {
                    delete_error_messages();
                    var book_id = $(e.relatedTarget).parents('.div_book').attr('name');
                    var form = $("#hidden_form_add_copy_popup");
                    form[0].action =  document.URL + "/"  +  book_id + "/copies";

                    resetForm(form[0]);
                });

            }
            add_copy_popup_callback_set_on_show();

            function edit_copy_callback_set_on_show(){
                $('#edit_copy_popup').on('show.bs.modal', function (e) {
                    delete_error_messages();
                    var book_id = $(e.relatedTarget).parents('.div_book').attr('name');
                    var copy_id = $(e.relatedTarget).parent().attr('name');
                    var form = $("#hidden_form_edit_copy_popup");
                    form[0].action = document.URL + "/" + book_id + "/copies/" + copy_id;

                    resetForm(form[0]);
                });
            }
            edit_copy_callback_set_on_show();

            function delete_copy_btn_callback_set_on_show(){
                $('#delete_copy_popup').on('show.bs.modal', function (e) {
                    delete_error_messages();
                    var book_id = $(e.relatedTarget).parents('.div_book').attr('name');
                    var copy_id = $(e.relatedTarget).parent().attr('name');
                    var form = $("#hidden_form_delete_copy_popup");
                    form[0].action = document.URL + "/" + book_id + "/copies/" + copy_id;

                    resetForm(form[0]);
                });
            }
            delete_copy_btn_callback_set_on_show();

            function process_error(form_id, response_data){
                // найти форму
                var form = $(form_id);
                var form_name = form[0].name;

                var obj = jQuery.parseJSON(  response_data.responseText );
                if (obj.form) {
                    var error_element = $("<div class=\"error_message\">" + obj.form + "</div>");
                    error_element.appendTo(form);
                } else {
                    for(var propertyName in obj) {
                        var element = $("<div class=\"error_message\">" + obj[propertyName][0] + "</div>");
                        var asdasd = $('#' + form_name + '_' + propertyName);
                        var vffvf = $('#' + form_name + '_' + propertyName).parent();
                        element.appendTo($('#' + form_name + '_' + propertyName).parent());
                    }
                }

            };


            // ПЕРЕДАЧА ДАННЫХ С ФОРМЫ
            // ОБРАБОТКА ОТВЕТА СЕРВЕРА
            $('#hidden_form_add_book_popup').submit(function(event) {
                event.preventDefault();
                var formData = $('#hidden_form_add_book_popup').serialize();
                $.ajax({
                    type: 'POST',
                    url: $('#hidden_form_add_book_popup').attr('action'),
                    data: formData

                }).done(function(response) {
                  //  alert(response);
                    var new_element_string =
                            "<div name=" + response.id + " class=\"div_book\">" +
                            "<a id=\"title_" + response.id + "\" style=\"font-size:18px;\" href=\"/books/" + response.id + "\">" + response.title + "</a>" +
                            "<div class=\"author_container\" name=\"" + response.id + "\"  >Авторы: ";

                    response.authors.forEach(function(entry) {
                        new_element_string = new_element_string + entry.name + " " + entry.surname;
                    });

                    new_element_string = new_element_string + "</div>" +

                            "<div id=\"volume_" + response.id +"\">Объем: " + response.volume + "</div>" +
                            "<div id=\"edition_" + response.id + "\">Редакция: " + response.edition + "</div>" +
                            "<button type=\"button\" data-toggle=\"modal\" data-target=\"#add_copy_popup\" class=\"btn btn-success btn-xs add_copy_btn\" ><span class=\"glyphicon glyphicon-plus\"></span> Добавить копию</button> " +
                            "<button type=\"button\" data-toggle=\"modal\" data-target=\"#edit_book_popup\" class=\"btn btn-primary btn-xs edit_book_btn\" ><span class=\"glyphicon glyphicon-pencil\"></span> Изменить книгу</button> " +
                            "<button type=\"button\" data-toggle=\"modal\" data-target=\"#delete_book_popup\" class=\"btn btn-danger btn-xs delete_book_btn\" ><span class=\"glyphicon glyphicon-trash\"></span> Удалить книгу</button>" +

                            "<div class=\"copy_container\" name=\"" + response.id + "\" style=\"padding-left:5em;\"> <div style=\"font-size:18px;\">Копии:</div>" ;

                    $('#books_list').append($(new_element_string));

                    edit_book_popup_callback_set_on_show();
                    delete_book_popup_callback_set_on_show();
                    add_copy_popup_callback_set_on_show();

                    $('#add_book_popup').modal('hide');
                }).fail(function(data) {
                 //   alert(data.responseText);
                    process_error("#hidden_form_add_book_popup", data);
                });
            });

            $('#hidden_form_edit_book_popup').submit(function(event) {
                event.preventDefault();
                var formData = $('#hidden_form_edit_book_popup').serialize();
                $.ajax({
                    type: 'PUT',
                    url: $('#hidden_form_edit_book_popup').attr('action'),
                    data: formData
                }).done(function(response) {
                    $("#title_"+response.id).text(response.title);
                    $("#volume_"+response.id).text("Объем: " + response.volume);
                    $("#isbn_"+response.id).text("ISBN: " + response.isbn);
                    $("#edition_"+response.id).text("Редакция: " + response.edition);

                    var new_element_string = "Авторы: ";
                    response.authors.forEach(function(entry) {
                        new_element_string = new_element_string + entry.name + " " + entry.surname;
                    });


                    $(".author_container[name=" + response.id + "]").text(new_element_string);

                    $('#edit_book_popup').modal('hide');

                }).fail(function(data) {
                   // alert(data.responseText);
                    process_error("#hidden_form_edit_book_popup", data);
                });
            });

             $('#hidden_form_delete_book_popup').submit(function(event) {
                 var formData = $('#hidden_form_delete_book_popup').serialize();
                 $.ajax({
                     type: 'DELETE',
                     url: $('#hidden_form_delete_book_popup').attr('action'),
                     data: formData
                 }).done(function(response) {
                     var asdasd = "#" + response.book_id;
                     $(".div_book[name=" + response.book_id + "]").empty();
                     $('#delete_book_popup').modal('hide');

                 }).fail(function(data) {
                    // alert(data);
                   //  alert(data.responseText);
                     process_error("#hidden_form_delete_book_popup", data);
                 });
                 return false;
             });

            $('#hidden_form_add_copy_popup').submit(function(event) {
                event.preventDefault();
                var formData = $('#hidden_form_add_copy_popup').serialize();
                $.ajax({
                    type: 'POST',
                    url: $('#hidden_form_add_copy_popup').attr('action'),
                    data: formData
                }).done(function(response) {
                  //  alert(response);
                  //  alert(response.responseText);
                    var new_element_string =
                            "<div class=\"copy_href div_copy\" name=\"" + response.copy_id + "\">" +
                                "<a id=\"innerNumber_" + response.copy_id  + "\"href=\"/books/" + response.book_id + "/copies/" + response.copy_id  + "\">" +  response.inner_number + "</a>" +
                                "<button type=\"button\" class=\"btn btn-info btn-xs edit_copy_btn\" data-toggle=\"modal\" data-target=\"#edit_copy_popup\"><span class=\"glyphicon glyphicon-pencil\"></span>" +
                                    "Редактировать копию" +
                                "</button> " +
                                "<button type=\"button\"  class=\"btn btn-warning btn-xs delete_copy_btn\" data-toggle=\"modal\" data-target=\"#delete_copy_popup\"><span class=\"glyphicon glyphicon-trash\"></span>" +
                                    "Удалить копию" +
                                "</button>" +
                            "</div>";
                    $('.div_book[name=\"' +  response.book_id+ "\"]").find("div.copy_container").append($(new_element_string)).find( "button" ).hide();

                    $( ".copy_href" )
                            .mouseenter(function() {
                                $( this ).find( "button" ).show();
                            })
                            .mouseleave(function() {
                                $( this ).find( "button" ).hide();
                            });

                    edit_copy_callback_set_on_show();
                    delete_copy_btn_callback_set_on_show();
                    $('#add_copy_popup').modal('hide');

                }).fail(function(data) {
                  //  alert(data);
                  //  alert(data.responseText);
                    process_error("#hidden_form_add_copy_popup", data);
                });
            });


            $('#hidden_form_edit_copy_popup').submit(function(event) {
                event.preventDefault();
                var formData = $('#hidden_form_edit_copy_popup').serialize();
                $.ajax({
                    type: 'PUT',
                    url: $('#hidden_form_edit_copy_popup').attr('action'),
                    data: formData
                }).done(function(response) {
                    var asdasd = "#" + response.copy_id;
                    $("#innerNumber_" + response.copy_id).text(response.innerNumber);
                    $('#edit_copy_popup').modal('hide');

                }).fail(function(data) {
                    process_error("#hidden_form_edit_copy_popup", data);
                });
            });

            $('#hidden_form_delete_copy_popup').submit(function(event) {
                event.preventDefault();
                var formData = $('#hidden_form_delete_copy_popup').serialize();
                $.ajax({
                    type: 'DELETE',
                    url: $('#hidden_form_delete_copy_popup').attr('action'),
                    data: formData
                }).done(function(response) {
                    $(".div_copy[name=\"" + response.copy_id + "\"]").empty();
                    $('#delete_copy_popup').modal('hide');
                }).fail(function(data) {
                  //   alert(data);
                 //    alert(data.responseText);
                    process_error("#hidden_form_delete_copy_popup", data);
                });
            });
        });
    </script>
{% endblock %}
