{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ book.title }}</h1>
    <h4>Объем:      {{ book.volume }}</h4>
    <h4>Редакция:    {{ book.edition }}</h4>
    <div>

        <div style="font-size:18px; ">Копии:</div>
            {% for copy in copies %}
                <div style="padding-left:5em;" class="copy_href" id="copy_{{ copy.id }}">
                    <a href="{{ app.url_generator.generate('copy', { book_id: book.id, copy_id: copy.id }) }}">{{ copy.innerNumber }}</a>
                </div>
            {% endfor %}
        </div>
         <div style="font-size:18px; ">Авторы:</div>
            {% for author in book.authors %}
                <div style="padding-left:5em;" class="copy_href" >
                    <a href="{{ app.url_generator.generate('author', { person_id: author.id }) }}">{{ author.name }} {{ author.surname }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
