{% extends 'base.html.twig' %}
{% block body %}
    <h2>Выберите автора для редактирования</h2>
    <div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}

    </div>
    <script>
        $(function() {
            $('#authors_menu').addClass("active");
            $(".person_select").select2({ width: '100%' });
        });
    </script>
{% endblock %}
