{% extends 'base.html.twig' %}
{% block body %}
    <h2>Выберите должность</h2>
    <div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}

    </div>
    <script>
        $(function() {
            $(".position_select").select2({ width: '100%' });
            $('#positions_menu').addClass("active");
        });
    </script>
{% endblock %}
