{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ copy.innerNumber }}</h1>
    <h4>Книга: <a href="{{ app.url_generator.generate('book', { book_id: copy.book.id }) }}">  {{ copy.book.title }}</a>
{% endblock %}