{% extends 'base.html.twig' %}
{% block body %}
    <h2>Выдать книгу</h2>
    <div>
        {{ form_start(form, { 'attr': { 'id': 'liborder'} }) }}

            {{ form_row(form.person) }}
            {{ form_row(form.book) }}
            {{ form_row(form.copy) }}
            {{ form_rest(form) }}

            {{ form_errors(form) }}
        {{ form_end(form) }}

    </div>
    <script>
        $(function() {
            $('#order_menu').addClass("active");
            $(".person_select").select2({ width: '100%' });
            $(".book_select").select2({ width: '100%' });
            $(".copy_select").select2({ width: '100%' });

            $("#liborder_findate_day").select2({ width: '20%' });
            $("#liborder_findate_month").select2({ width: '20%' });
            $("#liborder_findate_year").select2({ width: '20%' });
        });
        var $book = $('.book_select');
        $book.change(function() {
            var $form = $(this).closest('form');
            var data = {};
            data[$book.attr('name')] = $book.val();
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {

                    $('.copy_select').select2('destroy');
                    $('.copy_select').replaceWith(
                        $(html).find('.copy_select')
                    );

                    $(".copy_select").select2({ width: '100%' });
                },
                fail: function(data) {
                    console(data);
                }
            });
        });
    </script>
{% endblock %}
