{% extends 'base.html.twig' %}
{% block body %}
    <h2>Выдать книгу</h2>
    <div>
        <!-- Кому -->
        <!-- Выбрать книгу которую дадут человеку -->
        <!-- Выбрать дату приема -->

        {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        {{ form_end(form) }}

    </div>
    <script>
        $(function() {
            $('#order_menu').addClass("active");
        });
    </script>
{% endblock %}
