{% extends 'base.html.twig' %}
{% block body %}

    <div id="abonent_work" >
        <a class="btn btn-success"  href="{{ app.url_generator.generate('add_person') }}"><span class="glyphicon glyphicon-plus"></span> Добавить абонента</a>
        <a class="btn btn-warning"  href="{{ app.url_generator.generate('choose_person_for_edit') }}"><span class="glyphicon glyphicon-pencil"></span> Редактировать информацию об абоненте</a>
        <a class="btn btn-danger"   href="{{ app.url_generator.generate('choose_person_for_delete') }}"><span class="glyphicon glyphicon-trash"></span> Удалить информацию об абоненте</a>
    </div>
    <br>


    <h1>Абоненты</h1>
    <p>Список абонентов зарегистрированных в системе</p>

    <div id="persons_list">
        {% for person in persons %}
            <div>
                <a href="{{ app.url_generator.generate('person', { person_id: person.id }) }}">{{ person.name }} {{ person.surname }} </a>
                <div >Должности:</div>
                    {% for position in person.positions %}
                            <div style="padding-left:5em; ">
                               <a href="{{ app.url_generator.generate('position', { position_id: position.id }) }}">  {{ position.title }} </a>
                            </div>
                    {% endfor %}
            </div>
        {% endfor %}
    </div>

    <script>
        $(function() {
            $("#person_positions").select2({ width: '100%'  });
            $('#persons_menu').addClass("active");
        });
    </script>

{% endblock %}
