{% extends 'base.html.twig' %}
{% block body %}

    <h1>Люди с книгами на руках</h1>
    <p>Список людей которым выданы книги на руки в данный момент</p>

    {% set current_id = 0  %}
    {% set need_to_close_div = 0  %}
    {% for order in orders_on_hands %}
        {% if current_id == order.person.id %}
            <div style="padding-left:5em; " >
                <a href="{{ app.url_generator.generate('book', { book_id: order.copy.book.id }) }}">{{ order.copy.book.title }}</a>
                    в авторстве:
                    {% for author in order.copy.book.authors %}
                        <a href="{{ app.url_generator.generate('author', { person_id: author.id }) }}">
                            {{ author.name }}
                            {{ author.surname }}
                        </a>
                    {% endfor %}
                    номер копии:  <a href="{{ app.url_generator.generate('copy', { book_id: order.copy.book.id, copy_id: order.copy.id }) }}"> {{ order.copy.innerNumber }}</a>
                    [На период: c {{ order.stdate |date('Y-m-d') }} до {{ order.findate|date('Y-m-d')  }} ]
            </div>
        {% else %}
            {% set current_id = order.person.id  %}
            {% if need_to_close_div == 1  %}
                </div>
            {% endif %}

            <div>
                <a href="{{ app.url_generator.generate('person', { person_id: order.person.id }) }}">
                    {{ order.person.name }}
                    {{ order.person.surname }}
                </a>
                <div style="padding-left:5em; " >
                    Номер карты:
                    <div style="padding-left:5em; " >
                        {{ order.person.cardnumber }}
                    </div>
                </div >
                <div style="padding-left:5em; " >
                должности:
                    <div style="padding-left:5em; " >
                        {% for position in order.person.positions %}
                            <a href="{{ app.url_generator.generate('position', { position_id: position.id }) }}">  {{ position.title }} </a>
                        {% endfor %}
                    </div>
                </div >
                <div style="padding-left:5em; " >
                    на руках:
                    <div style="padding-left:5em; " >
                        <a href="{{ app.url_generator.generate('book', { book_id: order.copy.book.id }) }}">{{ order.copy.book.title }}</a>
                        в авторстве:
                        {% for author in order.copy.book.authors %}
                            <a href="{{ app.url_generator.generate('author', { person_id: author.id }) }}">
                                {{ author.name }}
                                {{ author.surname }}
                            </a>
                        {% endfor %}
                        номер копии:  <a href="{{ app.url_generator.generate('copy', { book_id: order.copy.book.id, copy_id: order.copy.id }) }}"> {{ order.copy.innerNumber }}</a>
                        [На период: c {{ order.stdate |date('Y-m-d') }} до {{ order.findate|date('Y-m-d')  }}]
                    </div>
                    {% set need_to_close_div = 1  %}

        {% endif %}
    {% endfor %}

    <script>
        $(function() {
            $('#persons_with_books_menu').addClass("active");
        });
    </script>
{% endblock %}
