{% extends 'base.html.twig' %}
{% block body %}

    {% if person.cardnumber is null %}
        <h1>Автор: {{person.name }} {{person.surname }}</h1>
    {% else %}
        <h1>Абонент: {{person.name }}  {{person.surname }}</h1>
        <h4>Номер карты: {{person.cardnumber }}</h4>
        <div style="font-size:18px; ">Должности:</div>
            {% for position in person.positions %}
                <div style="padding-left:5em;" >
                    <a href="{{ app.url_generator.generate('position', { position_id: position.id }) }}">  {{ position.title }} </a>
                </div>
            {% endfor %}

    {% endif %}

    {% if person.books|length %}
        <div style="font-size:18px; ">Книги:</div>
            {% for book in person.books %}
                <div style="padding-left:5em;" >
                    <a href="{{ app.url_generator.generate('book', { book_id: book.id }) }}">  {{ book.title }}</a>
                </div>
            {% endfor %}
    {% endif %}

{% endblock %}
