{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ position.title }}</h1>
    <div>
        <div style="font-size:18px; ">Абоненты с этой должностью:</div>
            {% for person in position.persons  %}
                <div style="padding-left:5em;" >
                    <a href="{{ app.url_generator.generate('person', { person_id: person.id }) }}">{{ person.name }} {{ person.surname }} </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
