{% extends 'base.html.twig' %}
{% block body %}






    <div id="position_work" >
        <a class="btn btn-success"  href="{{ app.url_generator.generate('add_position') }}"> <span class="glyphicon glyphicon-plus"></span> Добавить должность</a>
        <a class="btn btn-warning"  href="{{ app.url_generator.generate('choose_position_for_edit') }}"><span class="glyphicon glyphicon-pencil"></span> Редактировать должность</a>
        <a class="btn btn-danger"   href="{{ app.url_generator.generate('choose_position_for_delete') }}"> <span class="glyphicon glyphicon-trash"></span> Удалить должность</a>
    </div>

    <h1>Должности</h1>
    <p>Список должностей зарегистрированных в системе</p>

    <div id="positions_list">
        {% for position in positions %}
            <div>
                <a href="{{ app.url_generator.generate('position', { position_id: position.id }) }}">{{ position.title }}</a>
            </div>
        {% endfor %}
    </div>

    <script>
        $(function() {
            $('#positions_menu').addClass("active");
        });
    </script>

{% endblock %}
